@import 'aside';

body {
    background-color: #FEFAF4;
}

.main {
    padding: 20px 40px;
    margin-left: 280px;
    width: calc(100vw - 280px);

    &-header {
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
        height: 60px;
        
        .header-left {
            h2 {
                font-size: 18px;
                font-weight: 600;
                line-height: 23.4px;
                letter-spacing: -0.12px;
    
                margin-bottom: 4px;
            }
    
            .map {
                color: #666;
                font-size: 13px;
    
                a {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 19.5px;
    
                    color: #666;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }

        }

        .header-right {
            display: flex;
            align-items: center;

            .date {
                display: flex;
                flex-direction: column;

                margin-right: 36px;

                label {
                    font-size: 12px;
                    color: #666;
                }

                input {
                    height: 40px;
                    width: 160px;

                    font-size: 14px;
                }
            }

            .btn-filter {
                height: 48px;
                width: 120px;

                font-size: 15px;

                color: white;
                background-color: #3498db;

                border-radius: 4px;
                cursor: pointer;

                transition: 0.3s;
                i {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    &-content {
        .table-container {
            width: 100%;
            height: 520px;
            overflow: auto;
            
            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    border-right: 1px solid ;
                    background-color: #3498db;
                    color: white;
                    // color: #333;
                }

                tr {
                    border-bottom: 1px solid #ccc;
                }

                th,
                td {
                    text-align: center;
                    padding: 8px 20px;
                }

                a {
                    font-size: 20px;
                    &:hover {
                        opacity: 0.9;
                    }
                }

                .icon {
                    display: block;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    // &-content {
    //     height: 520px;
    //     position: relative;
    //     overflow: auto;
    //     .list-report {
    //         margin-top: 60px;
    //     }

    //     .report {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;

    //         li {
    //             padding: 12px;
    //         }

    //         &.title {
    //             font-weight: 700;
    //             position: fixed;

    //             top: 100px;
    //             left: 320px;
    //             right: 40px;

    //             border: 1px solid #ccc;
    //             background-color: white;
    //         }
    //     }


    //     table {
    //         height: 100%;
    //         height: 100%;

    //         tr {


    //             th,
    //             td {
    //                 height: 32px;
    //             }
    //         }
           
    //     }


    // }

    .bill-data {
        margin-bottom: 20px;

        display: flex;
        justify-content: space-around;
        width: 100%;

        label {
            font-size: 14px;
            color: #666;
            text-transform: uppercase;
        }

        .value {
            font-size: 18px;
            font-weight: 600;
            color: #333;
        }
    }
}