@import 'headerFooter';

body {
    background-color: white;
}

.main {

    .page-content {
        padding: 35px 0 50px;

        .step-by {
            padding: 9px 20px;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;


            .title-step {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.5px;
                line-height: 1;
                padding: 4px 0;

                color: #666;

                &.active {
                    color: #26c;
                }
            }

            i {
                margin: 0 20px;
                font-size: 20px;
                color: #ccc;
            }
        }
 
        .container {
            margin: 35px auto 10px;

            .order-message {
                margin: 0 auto;

                padding: 30px;
                display: flex;
                align-items: center;

                width: 360px;

                box-shadow: 0 5px 20px 0 rgba($color: #000000, $alpha: 0.2);
                border-radius: 10px;

                .icon {
                    font-size: 60px;
                    color: #26c;
                    margin-right: 30px;
                }

                .message {
                    h4 {
                        font-size: 20px;
                        color: #26c;
                    }
                    font-size: 14px;
                }
            }

            .order-results {
                margin: 48px auto 19px;
                width: fit-content;
                display: flex;
                .overview-item {
                    margin-bottom: 30px;
                    padding-right: 20px;
                    border-right: 1px solid #ccc;
                    margin: 0 30px 30px 0;
                    
                    &:last-child {
                        border: 0;
                        margin-right: 0;
                    }

                    .overview-name {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22.4px;

                        color: #666;
                    }

                    .overview-value {
                        font-size: 20px;
                        font-weight: 600;
                        color: #333;
                    }
                }
            }

            .title {
                padding-top: 20px;
                margin-bottom: 26px;

                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.25px;
                line-height: 1;
            }

            .order-details {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 4px 30px;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    

                    tr {
                        
                        &.table-cat:not(:last-child) {
                            border-bottom: 1px solid #ccc;
                        }
                        
                        .table-title {
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: -0.18px;
                            line-height: 25.2px;

                            padding: 20px 0;
                            text-align: left;
                        }

                        td {
                            text-align: right;

                            &:first-child {
                                text-align: left;
                            }
                        }

                        &.prod {
                            td {
                                padding: 20px 0 10px;
                                font-size: 14px;

                                .quantity {
                                    font-weight: 600;
                                    font-size: 15px;
                                }

                                
                            }
                        }

                        

                        .table-value {
                            font-size: 14px;
                            font-weight: 600;
                            color: #666;
                        }

                        .bold {
                            font-size: 20px !important; 
                            color: #333;
                            font-weight: 700;          
                        }
                    }
                }
            }

            .order-info {
                padding-bottom: 40px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 30px;

                li {
                    padding: 10px 0;
                    font-size: 14px;
                    color: #666;
                }
            }

            .btn-back-home {
                width: fit-content;

                padding: 15px 30px;
                height: 45px;

                display: flex;
                align-items: center;
                justify-content: center;

                color: $color-primary;
                background-color: rgba($color: $color-primary, $alpha: 0.2);

                font-size: 13px;
                font-weight: 700;

                cursor: pointer;

                border-radius: 4px;

                transition: 0.3s;
                i {
                    margin-right: 12px;
                }

                &:hover {
                    background-color: $color-primary;
                    color: white;
                }
            }
        }
    }
}